#############################################################################
#                                                                           #
# PDFUnit - Automated PDF Tests                                             #
#                                                                           #
# Copyright (C) 2016 PDFUnit.com                                            #
#                                                                           #
# This file is part of the commercial library PDFUnit.                      #
#                                                                           #
# Legal information__: http://pdfunit.com/en/licenseinfo.html               #
# Manual_____________: http://pdfunit.com/en/download/index.html            #
# Contact for license: license[at]pdfunit.com                               #
#                                                                           #
#############################################################################
#
#                   Configuration for PDFUnit
#

#############################################################################
#
# Locale of PDF documents, required by some tests.
#
#############################################################################
pdf.locale = en
#pdf.locale = en_UK

#
#############################################################################
#
# In case of a difference between a test-PDF and a master-PDF diff-images 
# will be saved in the same directory as the test-PDF. But the following 
# property can force to write them all to a fixed output directory.
#
# The path can be absolute or relative. The base of a relative path depends 
# on the tool which starts the junit tests (Eclipse, ANT, etc.).
# The path must end with a slash. It must exist before you run the tests.
#
# If this property is not defined, the directory containing the PDF files 
# is used.
#
#############################################################################
output.path.diffimages = ./

#
#############################################################################
#
# Definition of PDF validation files.
#
# This keys are optional.
#############################################################################
#
file.din5008.forma = src/test/resources/din5008/ValidationRules-DIN5008-FormA.xls
file.din5008.formb = src/test/resources/din5008/ValidationRules-DIN5008-FormB.xls
